.footer {
  background-color: #0a2850;
  position: relative;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #ffff;
}
.footer__content {
  padding-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__circle {
  background-color: #2f80ed;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  width: 340px;
  height: 340px;
  top: -128px;
  left: -44px;
}
.footer__social {
}
.footer__social-heading {
}
.footer__list {
}
.footer__list-item {
}
.footer__social-link {
}
.footer__social-icon {
}
.footer__copyright {
}
