.form__fieldset {
  max-width: 385px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  row-gap: 32px;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  display: grid;
}
.form__input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 385px;
  margin: 0;
}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  max-width: 385px;
  height: 60px;
  width: 100%;
  padding: 0%;
  margin-bottom: ;
}
.form__input::placeholder {
  color: #838383;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-bottom: 120px;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  justify-content: center;
}
