.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px auto 80px;
  padding-top: 100px;
  text-align: center;
}
.reservation__form {
  margin: 0 auto;
  border-bottom: 120px;
}
