.page {
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
}
.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  position: relative;
  color: #000000;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header__title {
  margin-bottom: 28px;
  max-width: 709px;
  position: relative;
  top: 110px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__span-accent {
  display: block;
  color: #2f80ed;
  line-height: 72px;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 58px;
  padding: 28px;
  top: 28px;
  padding-left: 80px;
}
.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  margin: 0%;
  height: 568px;
  width: 646px;
}
.h1 span {
  display: block;
}
span:nth-child(2) {
  padding-left: 80px;
  font-size: 58px;
  font-weight: 500;
  letter-spacing: -1px;
}
.header__description {
  left: 80px;
  max-width: 683px;
  position: relative;
  top: 211px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0%;
  top: 130px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  margin: 0;
}
.nav__links {
  list-style-type: none;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  position: absolute;
  right: 80px;
  top: 30px;
  column-gap: 20px;
  margin: 0;
}
.header__footer {
  margin-top: auto;
  font-family: "inter", Arial, sans-serif;
  position: relative;
  left: 80px;
  margin-top: 40;
  color: #838383;
}
.header__address {
  position: absolute;
  margin-top: auto;
  right: 80px;
  bottom: 40px;
  color: #838383;
}
.header__paragraph {
  margin: 0;
}
.recipes-subtitle span:nth-child(2) {
  display: block;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
  margin-left: 80px;
}
.recipes__videos {
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  gap: 40px;
  padding-top: 80px;
}
.recipes__video-item {
  column-gap: 24px;
  margin-bottom: 215px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
